<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Trigger</title>
</head>
<body>
<h1>Creation de Channel</h1>
<h3>{{ message }}</h3>
<form method="post">
    <label>Channel :</label>
    <input type="text" name="room_name">
    <br>
    <label>Membres :</label>
    <input type="text" name="members">
    <br>

    <select name="subject" id="sujet">
        <option valeur="politique">politique</option>
        <option valeur="energie">energie</option>
        <option valeur="technologie">technologie</option>
        <option valeur="travail">travail</option>
        <option valeur="mode">mode</option>
        <option valeur="geo">geo</option>
    </select>
    
    <br>
    <button type="submit">Submit</button>
</form>
</body>
</html>

