<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet" href="../static/style/general.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">

    <title>Trigger</title>
</head>
<body class="background-create">
<!-- <h1>Creation de Channel</h1>
<h3>{{ message }}</h3>
<form method="post">
    <label>Channel :</label>
    <input type="text" name="room_name">
    <br>
    <label>Membres :</label>
    <input type="text" name="members">
    <br>

    <select name="subject" id="sujet">
        <option valeur="politique">politique</option>
        <option valeur="energie">energie</option>
        <option valeur="technologie">technologie</option>
        <option valeur="travail">travail</option>
        <option valeur="mode">mode</option>
        <option valeur="geo">geo</option>
    </select>
    
    <br>
    <button type="submit">Submit</button>
</form> -->

<div class="container">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
        <a href="/debats" class="d-flex align-items-center text-dark text-decoration-none">
            <img src="../static/img/flame.svg" height="100px" width="100px" alt="">
            <br>
        </a>
        <h2>Trigger</h2>
        <div class="col-8 ">

        </div>
        <div class="col-4">
            <a href="/logout" type="button" class="btn btn-danger">Deconnexion</a>
        </div>

    </header>
    <div class="row"  >
        <h3>{{ message }}</h3>
    <div class="col-md-6">
<form method="post" >
    <div class="form-group">
        <label for="formGroupExampleInput">Titre </label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Titre du channel" name="room_name">
      </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Sujet :</label>
      <select class="form-control" id="exampleFormControlSelect1" name="subject">
        <option value="politique">Politique</option>
        <option value="energie">Energie & Ecologie</option>
        <option value="technologie">Technologie</option>
        <option value="travail">Travail</option>
        <option value="mode">Mode</option>
        <option value="geo">Geopolitique</option>
      </select>
    </div>
    <div class="form-check">
      <input onclick="myFunction2()" class="form-check-input" type="radio" name="flexRadioDefault" value="private" id="flexRadioDefault1" checked>
      <label class="form-check-label" for="flexRadioDefault1">
        Channel privé 
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" value="public" id="flexRadioDefault2"  onclick="myFunction1()" >
      <label class="form-check-label" for="flexRadioDefault2">
        Channel public
      </label>
    </div>
      <div class="form-group" id="displayer">
        <label for="formGroupExampleInput">Ajouter ami </label>
        <input type="text" class="form-control" id="formGroupExampleInput" name="members" placeholder="ex : Jeremy59, Max_80">
      </div>
      <button type="submit" class="btn btn-primary">Création </button>
  </form>
</div>
<div class="col-md-1"></div>
<div class="col-md-4">
    <h2>Top Tendance Debats</h2>
    <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Sujet </th>
        <th scope="col">Channel</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Politique</td>
        <td>LREM second tour ?</td>

      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Energie & Ecologie</td>
        <td>Voiture electrique</td>
       
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Travail</td>
        <td>Reforme El comri</td>

      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Geopolitique</td>
        <td>Retrait troupe russes ?</td>

      </tr>
    </tbody>
  </table></div>
</div>
</div>

</body>
<script>
  function myFunction1() {
  var x = document.getElementById("displayer");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function myFunction2() {
  var x = document.getElementById("displayer");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>

</html>

